<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>954450826056-in8hsf2geihgoaksrle4b34fpte3g3aa.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.954450826056-in8hsf2geihgoaksrle4b34fpte3g3aa</string>
	<key>API_KEY</key>
	<string>AIzaSyC435jS-lB1vu65GRB3XHVKR0Hua8fLTXI</string>
	<key>GCM_SENDER_ID</key>
	<string>954450826056</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>kinzersky.FontaineShop</string>
	<key>PROJECT_ID</key>
	<string>fontaine-dcff8</string>
	<key>STORAGE_BUCKET</key>
	<string>fontaine-dcff8.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:954450826056:ios:50bff3cb24d5fa10ce997d</string>
</dict>
</plist>